<div class="form-group row mt-2">
  <div class="col-md-4 mx-auto mat-elevation-z8 py-3">
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/faceIcon.png" width="80" height="80">
          <p class="h5">Sign In</p>
        </div>
      </div>

      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput formControlName="username" placeholder="Username" cdkFocusInitial>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
