<div class="form-group row">
  <div class="col-md-10 mx-auto">
    <div class="row">
      <div class="col-md-6">
        <p class="h5 mt-3">Employee: {{ name }}</p>
      </div>
      <div class="col-md-6">
        <button mat-raised-button color="primary" type="button" (click)="back()">Back</button>
        &nbsp;
        <button mat-raised-button color="accent" type="button" (click)="reload()">Refresh</button>
        <mat-form-field class="col-md-8">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Log">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto">
    <div class="mat-elevation-z8 table-container">
      <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of displayedColumns;" matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | uppercase }}
          <td mat-cell *matCellDef="let element; let i = index;" class="py-2">
            <span class="h6" *ngIf="column == 'no'">
              {{ i + 1 }}
            </span>
            <span class="h6" *ngIf="column !== 'no' && column !== 'date_created'">
              {{ element[column] }}
            </span>
            <span class="h6" *ngIf="column == 'date_created'">
              {{ element[column] }}
            </span>
            <ng-container *ngIf="column == 'action'">
              <button mat-mini-fab type="button" color="primary" (click)="viewLog(element.id)"
                matTooltip="View Logs">
                <mat-icon>visibility</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
