<mat-card style="height: 800px;">
  <mat-card-header>
    <mat-card-title>{{ log?.name }}</mat-card-title>
    <mat-card-subtitle>Time: {{ log?.timeStatus }} <br> Date Created: {{ log?.date_created }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/{{ log?.image }}" class="img-fluid">
</mat-card>
