<div class="form-group row">
  <div class="col-md-10 mx-auto">
    <div class="row">
      <div class="col-md-6">
        <p class="h5 mt-3">Employee Lists</p>
      </div>
      <div class="col-md-6">
        <form [formGroup]="form">
          <mat-form-field class="col-md-4">
            <mat-label>Select options</mat-label>
            <mat-select formControlName="option" (selectionChange)="selectOptions($event.value)" [value]="default">
              <mat-option disabled>-</mat-option>
              <mat-option value="newEmp">New Employee</mat-option>
              <mat-option value="archive">View Archived</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-8">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Employee">
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto">
    <div class="mat-elevation-z8 table-container">
      <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of displayedColumns;" matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span *ngIf="column == 'bio_id'">
              BIO ID
            </span>
            <span *ngIf="column !== 'bio_id'">
              {{ column | uppercase }}
            </span>
          <td mat-cell *matCellDef="let element; let i = index;" class="py-2">
            <span class="h6" *ngIf="column == 'no'">
              {{ i + 1 }}
            </span>
            <span class="h6" *ngIf="column !== 'no'">
              {{ element[column] }}
            </span>
            <ng-container *ngIf="column == 'action'">
              <button mat-mini-fab type="button" color="primary" (click)="viewLogs(element.bio_id)" matTooltip="View Logs">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab type="button" class="ml-1" color="accent" (click)="updateEmployee(element.bio_id)" matTooltip="Update Data">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab type="button" class="ml-1" color="warn" (click)="deleteEmployee(element.id)" matTooltip="Delete Employee">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
