<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar facebook-bg text-white">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="snavBool">
      <mat-icon>menu</mat-icon>
    </button>
      <h1>
        <mat-icon>camera_front</mat-icon> {{ title }}
      </h1>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="toolbar-icon ml-auto" *ngIf="loginStatus">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" x-position="after">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" style="width: 200px !important;">
      <mat-nav-list>
        <a mat-list-item *ngFor="let nav of navs" [routerLink]="nav.route"><mat-icon>{{ nav.icon }}</mat-icon>{{ nav.label }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid py-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
