<form [formGroup]="empForm" (ngSubmit)="empFormSubmit()" autocomplete="off">
  <mat-dialog-content>
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <p class="h5">Update Employee Form</p>
      </div>
    </div>
    <hr>
    <div class="form-group row">
      <mat-form-field class="col-md-12">
        <mat-label>Biometric ID</mat-label>
        <input type="number" matInput formControlName="bio_id" readonly>
      </mat-form-field>

      <mat-form-field class="col-md-12 mt-2">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="col-md-12 mt-2">
        <mat-label>Department</mat-label>
        <mat-select formControlName="dept" [value]="defaultDept">
          <mat-option disabled>-</mat-option>
          <mat-option *ngFor="let dept of depts" [value]="dept.value">{{ dept.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="accent" type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" cdkFocusInitial [disabled]="!empForm.valid">Save</button>
  </mat-dialog-actions>
</form>
