<mat-dialog-content>
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <h5>{{ title }}</h5>
      <h6>{{ content }}</h6>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" type="button" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" type="button" cdkFocusInitial (click)="close()">Confirm</button>
</mat-dialog-actions>
