/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.facebook-bg {
  background-color: #4267B2;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
}
